<footer class='text-center text-white' style="background: linear-gradient(90deg, rgba(26,10,119,1) 0%, rgba(91,29,184,1) 21%, rgba(105,37,189,1) 50%, rgba(91,29,184,1) 81%, rgba(26,10,119,1) 100%)">
    <div class=' p-3'>

        <div class='text-center'>
            © 2023 Copyright: Viktoria Dudina
        </div>
    </div>
</footer>