{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="m-3">Create new Events</h1>

    {{ include('events/_form.html.twig') }}

    <a class="btn btn-info  mb-3" href="{{ path('app_events_index') }}">back to list</a>
    </div>
{% endblock %}
